<%- include("header") %>
<%- include("navbar") %>
<div class="row p-5">
    <div class="col p-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">WHOOPS!!</h4>
            <p>UH OH!!! you requested a page that doesn't exist</p>
            <hr>
            <p class="mb-0">To return to the home page, click on the home link above in the Navbar</p>
        </div>
    </div>
</div>
<%- include("footer") %>