<div class="row text-center">
    <div class="col"></div>
    <div class="col p-5">
        <img src="/public/Mithrillogo.png" alt="Mithrillogo">
        <h2>How I Started</h2>
        <p>I taught myself how to code, and learned a few technologies over the years and recently took the plunge to start building websites for other people. The experience has been great so far, and I've met people that have enlightened me on how I can better myself as a developer.</p>
    </div>
    <div class="col"></div>
</div>