<div class="row">
    <div class="col text-center">
        <img src="./images/Mithrillogo.png" alt="Mithrillogo">
    </div>
    <div class="col p-5 m-5">
        <h2>How I Started</h2>
        <p>I taught myself how to code, and learned a few technologies over the years and recently took the plunge to start building websites for other people. The experience has been great so far, and I've met people that have enlightened me on how I can better myself as a developer.</p>
    </div>
</div>