<div class="row bg-light">
    <div class="col p-5 m-5">
        <h2>Why I Code</h2>
        <p>In 2014 I had a major injury derail my manual labor career and quickly had to find something else that suits me. I struggled to find jobs that were accomodating for someone with a bad shoulder. I started dabbling here and there with little websites trying to learn a few things. Then I discovered some of the things that make code super interesting. Different frameworks, what you can accomplish with a templating engine, and even Databases. Then, I got really interested in it, and have been doing it for a few years now. </p>
    </div>
</div>