<div class="bg-light row p-5">
    <div class="col p-5">
        <h2>A Little Bit About Me</h2>
        <p>I am a Junior web developer with a few sites under his belt. I have two beautiful children and a great wife. Coding is something that just clicks with me and I really enjoy it. I used to do manual labor for a living but due to some unfortunate events, I'm no longer able to do manual labor. The technologies I use are NodeJS, Express, EJS, and Bootstrap. I plan on being a senior developer eventually but for now, I'm going to continue going to school to learn as much as I can. </p>
    </div>
</div>