<%- include('header') %> 
<%- include('navbar') %>
<div class="row p-5">
    <div class="col p-5">
        <div class="alert alert-success" role="alert">
        Success! your email has been sent!
        </div>
    </div>
</div>
<%- include('footer') %>