nav {
    box-shadow: 0 20px 40px black;
}

img {
    height: 300px;
    padding-top: 25px;
}

.jumbotron {
    background-image: url("/images/code.jpg");
    height: 300px;
}

.express-icon {
    height: 200px;
}

.btn {
    width: 100%;
}

.footer {
    border: 0px solid black;
    background-color: #007BFF;
    color: white;
    border-radius: 2px;
    width: 25%;
    text-align: center;
    position: fixed;
    bottom: 0;
}