nav {
    box-shadow: 0 20px 40px black;
}

img {
    height: 300px;
    padding-top: 25px;
}

.jumbotron {
    background-image: url("/images/code.jpg");
    height: 300px;
}

.express-icon {
    height: 200px;
}